<form id="myForm">
    <div class="m-3 p-3">
        <h3 >Initiate your Connection</h3>
        <p>Please select and specify the following parameters to speed up the creation process</p>
        <div class="pt-3 bg-white">

          <h6 class="ml-3 font-weight-bold">Client Details</h6>
          <hr>
          <div class="p-3 m-3">
            <label for="Client">Client</label>            
            <select #Client="ngModel" name="Client" [(ngModel)]="newConnData.clientID" [ngModelOptions]="{standalone: true}"  
            required class="form-control mb-3">
              <option disabled selected>Select a Client</option>
              <option *ngFor="let c of clients$ | async" [ngValue]="c.id">{{c.name}}</option>
            </select>
            <div class="alert alert-danger" *ngIf="Client.touched && Client.invalid">Client is required</div>
            <br><br> 
          </div>

          <h6 class="ml-3 font-weight-bold">Five Keys</h6>
          <hr>
          <div class="p-3 m-3">
            <p>Please specify the following parameters accurately to be able to build the connection the right way</p>
            <label for="Networks">1- Networks</label>
            <select  [(ngModel)]="newConnData.hubID" [ngModelOptions]="{standalone: true}"  
            required name="Networks" class="form-control mb-3">
              <option disabled selected>Select a Hub Network</option>
              <option *ngFor="let h of hubs$ | async" [ngValue]="h.id">{{h.name}}</option>
            </select>

            <label for="UATorProduction">2- UAT or Production</label>
            <div class="row mb-3">
                <div  class="col-sm-4"><input [(ngModel)]="newConnData.uat" [ngModelOptions]="{standalone: true}" required name="UATorProduction" type="radio" value="true"> UAT</div>
                <div class="col-sm-4"><input [(ngModel)]="newConnData.uat" [ngModelOptions]="{standalone: true}" required name="UATorProduction" type="radio" value="false"> Production</div>
            </div>
            <label for="Region">3- Region</label>
            <input [(ngModel)]="newConnData.targetRegion" [ngModelOptions]="{standalone: true}" required name="Region" class="form-control mb-3" type="text" placeholder="e.g. EMEA">
            <label for="TypeOfFlow">4- Type of flow that we support</label>
            <input [(ngModel)]="newConnData.typeOfFlow" [ngModelOptions]="{standalone: true}" required name="TypeOfFlow" class="form-control mb-3" type="text" placeholder="e.g. CARE">
            <input required class="mr-2" type="checkbox" [(ngModel)]="showHideSubhub" [ngModelOptions]="{standalone: true}"><span>Use Subhub</span><br>
            <label for="Subhub" *ngIf="showHideSubhub">5- Subhub</label> 
            <select  [(ngModel)]="newConnData.subhubID" [ngModelOptions]="{standalone: true}"  
            *ngIf="showHideSubhub" name="Subhub" class="form-control mb-3">
              <option disabled selected>Select a Subhub</option>
              <option *ngFor="let s of subhubs$ | async" [ngValue]="s.id">{{s.name}}</option>
            </select>
            <br><br> 
          </div>

        <div class="text-center"><button type="submit" class="btn btn-dark" ng-disable="myForm.$invalid" (click)="createNewConnection()">Create Connection</button></div>
        </div>
      </div>
</form>