<form>
    <div class="m-3 p-3">
        <h3 >Initiate your Connection</h3>
        <p>Please select and specify the following parameters to speed up the creation process</p>
        <div class="pt-3 bg-white">

          <h6 class="ml-3 font-weight-bold">Client Details</h6>
          <hr>
          <div class="p-3 m-3">
            <label for="Categories">Categories</label>
            <input required name="Categories" class="form-control" type="text" placeholder="e.g. Bussiness">
            <br><br> 
          </div>

          <h6 class="ml-3 font-weight-bold">Five Keys</h6>
          <hr>
          <div class="p-3 m-3">
            <p>Please specify the following parameters accurately to be able to build the connection the right way</p>
            <label for="Networks">1- Networks</label>
            <select  [(ngModel)]="newConnData.hubID" [ngModelOptions]="{standalone: true}"  
            required name="Networks" class="form-control mb-3">
              <option disabled selected>Select a Hub Network</option>
              <option value="1">Bloomberg ESMX</option>
              <option value="2">Bloomberg ESMX NET</option>
              <option value="3">Reuters Autex</option>
              <option value="4">Reuters Normal</option>
              <option value="5">Fidessa</option>
            </select>

            <label for="UATorProduction">2- UAT or Production</label>
            <div class="row mb-3">
                <div  class="col-sm-4"><input [(ngModel)]="newConnData.uat" [ngModelOptions]="{standalone: true}" required name="UATorProduction" type="radio" value="true"> UAT</div>
                <div class="col-sm-4"><input [(ngModel)]="newConnData.uat" [ngModelOptions]="{standalone: true}" required name="UATorProduction" type="radio" value="false"> Production</div>
            </div>
            <label for="Region">3- Region</label>
            <input [(ngModel)]="newConnData.targetRegion" [ngModelOptions]="{standalone: true}" required name="Region" class="form-control mb-3" type="text" placeholder="e.g. EMEA">
            <label for="TypeOfFlow">4- Type of flow that we support</label>
            <input [(ngModel)]="newConnData.typeOfFlow" [ngModelOptions]="{standalone: true}" required name="TypeOfFlow" class="form-control mb-3" type="text" placeholder="e.g. CARE">
            <input required class="mr-2" type="checkbox" [(ngModel)]="showHideSubhub" [ngModelOptions]="{standalone: true}"><span>Use Subhub</span><br>
            <label for="Subhub" *ngIf="showHideSubhub">5- Subhub</label> 
            <input [(ngModel)]="newConnData.subhubID" [ngModelOptions]="{standalone: true}"  *ngIf="showHideSubhub" name="Subhub" class="form-control mb-3" type="text" placeholder="e.g. ITG">
            <br><br> 
          </div>

        <div class="text-center"><button type="submit" class="btn btn-dark" (click)="createNewConnection()">Create Connection</button></div>
        </div>
      </div>
</form>