<form id="myForm">
  <div class="m-3 p-3">
    <h3>Initiate your Connection</h3>
    <p>Please select and specify the following parameters to speed up the creation process</p>
    <div class="pt-3 bg-white">

      <h6 class="ml-3 font-weight-bold">Client Details</h6>
      <hr>
      <div class="p-3 m-3">
        <div *ngIf="!isClient">
          <label for="Client">Client</label>
          <select #Client="ngModel" name="Client" [(ngModel)]="newConnData.clientID"
            required class="form-control mb-3">
            <option disabled selected>Select a Client</option>
            <option *ngFor="let c of clients$ | async" [ngValue]="c.id">{{c.name}}</option>
          </select>
        <div class="alert alert-danger mb-3" *ngIf="Client.touched && Client.invalid">Client is required</div>
        </div>
        <label for="oms">OMS</label>
        <input [(ngModel)]="newConnData.oms"  required name="oms"
          class="form-control mb-3" type="text" placeholder="e.g. Custom OMS">
        <br><br>
      </div>

      <h6 class="ml-3 font-weight-bold">Connection Keys</h6>
      <hr>
      <div class="p-3 m-3">
        <p>Please specify the following parameters accurately to be able to build the connection the right way</p>
        
        <div *ngIf="!isHub">
          <label for="Networks">Networks</label>
          <select [(ngModel)]="hubID" required name="Networks"
            class="form-control mb-3">
            <option disabled selected>Select a Hub Network</option>
            <option *ngFor="let h of hubs$ | async" [ngValue]="h.id">{{h.name}}</option>
          </select>
        </div>

        <div *ngIf="isBloomberg || isReuters">
          <label for="Networks">Networks</label>
          <select [(ngModel)]="hubID" required name="Networks"
            class="form-control mb-3">
            <option disabled selected>Select a Hub Network</option>
            <option *ngIf="isBloomberg" [ngValue]="1">ESMX</option>
            <option *ngIf="isBloomberg" [ngValue]="2">ESMX Net</option>
            <option *ngIf="isReuters" [ngValue]="3">Autex</option>
            <option *ngIf="isReuters" [ngValue]="4">REDI</option>
          </select>
        </div>

        <label for="UATorProduction">UAT or Production</label>
        <div class="row mb-3">
          <div class="col-sm-4"><input [(ngModel)]="newConnData.uat" required
              name="UATorProduction" type="radio" value="true"> UAT</div>
          <div class="col-sm-4"><input [(ngModel)]="newConnData.uat"required
              name="UATorProduction" type="radio" value="false"> Production</div>
        </div>
        
        <label for="Region">Region</label>
        <div>
          <select [(ngModel)]="newConnData.targetRegion" required name="Region"
          class="form-control mb-3" >
            <option value="" disabled>Select Region</option>
            <option value="EMEA">EMEA</option>
            <option value="ASIA">ASIA</option>
            <option value="US">US</option>
            <option value="EUR">EUR</option>
          </select>
        </div>
           
      <label for="TypeOfFlow">Type of flow that we support</label>
        <div>
          <select [(ngModel)]="typeOfFlow" required name="TypeOfFlow"
          class="form-control mb-3" >
            <option value="" disabled>Select TypeOfFlow</option>
                  <option value="CARE">CARE</option>
                  <option value="DMA">DMA</option>
                  <option value="BOTH">BOTH</option>
          </select>
        </div>
        
        <div *ngIf="!isSubhub">
          <input required class="mr-2" type="checkbox" [(ngModel)]="showHideSubhub"
          [ngModelOptions]="{standalone: true}"><span>Use Subhub</span><br>
          <label for="Subhub" *ngIf="showHideSubhub">Subhub</label>
          <select [(ngModel)]="newConnData.subhubID" *ngIf="showHideSubhub"
            name="Subhub" class="form-control mb-3">
            <option disabled selected>Select a Subhub</option>
            <option *ngFor="let s of subhubs$ | async" [ngValue]="s.id">{{s.name}}</option>
          </select>
        </div>
        <br><br>
      </div>

      <div *ngIf="hubID!=1 && hubID!=4">
        <h6 class="ml-3 font-weight-bold">Configuration Table</h6>
        <hr>
        <div class="p-3 m-3">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"># Tag No.</th>
                <th scope="col">Tag Name</th>
                <th scope="col">Description</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">21</th>
                <td>HandlInst</td>
                <td>Instructions for order handling on Broker trading floor</td>
                <td>
                  <input [(ngModel)]="newConnData.tag21" name="tag21" required
                    class="form-control mb-3" type="text" placeholder="e.g. 1">
                </td>
              </tr>
              <tr>
                <th scope="row">48</th>
                <td>SecurityID</td>
                <td>CUSIP or other alternate security identifier</td>
                <td>
                  <input [(ngModel)]="newConnData.tag48" name="tag48" required
                    class="form-control mb-3" type="text">
                </td>
              </tr>
              <tr>
                <th scope="row">55</th>
                <td>Symbol</td>
                <td>Ticker symbol</td>
                <td>
                  <input [(ngModel)]="newConnData.tag55" name="tag55" required
                    class="form-control mb-3" type="text">
                </td>
              </tr>
              <tr>
                <th scope="row">100</th>
                <td>ExDestination</td>
                <td>Execution destination as defined by institution when order is entered</td>
                <td>
                  <input [(ngModel)]="newConnData.tag100" name="tag100" required
                    class="form-control mb-3" type="text" placeholder="e.g. CI">
                </td>
              </tr>
              <tr>
                <th scope="row">207</th>
                <td>SecurityExchange</td>
                <td>Market used to help identify a security</td>
                <td>
                  <input [(ngModel)]="newConnData.tag207" name="tag207" required
                    class="form-control mb-3" type="text" placeholder="e.g. CI">
                </td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Account</td>
                <td>Account mnemonic as agreed between broker and institution</td>
                <td>
                  <input [(ngModel)]="newConnData.tag1" name="tag1" required
                    class="form-control mb-3" type="text">
                </td>
              </tr>
              <tr>
                <th scope="row">30</th>
                <td>LastMkt</td>
                <td>Market of execution for last fill</td>
                <td>
                  <input [(ngModel)]="newConnData.tag30" name="tag30" required
                    class="form-control mb-3" type="text" placeholder="e.g. CI">
                </td>
              </tr>
              <tr>
                <th scope="row">115</th>
                <td>OnBehalfOfCompID</td>
                <td>Assigned value used to identify firm originating message if the message was delivered by a third
                  party</td>
                <td>
                  <input [(ngModel)]="newConnData.tag115" name="tag115" required
                    class="form-control mb-3" type="text">
                </td>
              </tr>
          </table>
        </div>
      </div>

      <div class="text-center mb-5"><button type="submit" class="btn btn-dark mb-5" ng-disable="myForm.$invalid"
          (click)="createNewConnection()">Create Connection</button></div>
    </div>
  </div>
</form>