

<div class="col-sm-12">
                	
  <ul class="timeline list-unstyled">
      <li class="clearfix">
          <time class="tl-time">
              <h3 class="text-purple">23:15</h3>
              <p>05th September 2013</p>
          </time>
          <i class="fa fa-comments-o bg-purple tl-icon text-white"></i>
          <div class="tl-content">
              <div class="panel panel-primary">
                  <div class="panel-heading">Events</div>
                  <div class="panel-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. Nam fermentum, massa sit amet pulvinar laoreet, sem mi viverra turpis, ac porta felis nisl eu odio.
                  </div>
              </div>
          </div>
      </li>
      <li class="clearfix">
          <time class="tl-time">
              <h3 class="text-success">07:44</h3>
              <p>23th April 2013</p>
          </time>
          <i class="fa fa-comments-o bg-success tl-icon text-white"></i>
          <div class="tl-content">
              <div class="panel panel-success">
                  <div class="panel-body">
                      Maecenas eget tempor diam. 
                  </div>
              </div>
          </div>
      </li>
      <li class="clearfix">
          <time class="tl-time">
              <h3 class="text-warning">12:14</h3>
              <p>23th August 2013</p>
          </time>
          <i class="fa fa-comments-o bg-warning tl-icon text-white"></i>
          <div class="tl-content">
              <div class="panel panel-warning">
                  <div class="panel-body">
                      Etiam pretium at dolor id tincidunt. <span class="label label-danger">Aliquam non mollis diam</span>
                  </div>
              </div>
          </div>
      </li>
      <li class="clearfix">
          <time class="tl-time">
              <h3 class="text-info">12:14</h3>
              <p>23th August 2013</p>
          </time>
          <i class="fa fa-comments-o bg-info tl-icon text-white"></i>
          <div class="tl-content">
              <div class="panel panel-info" style="display:block;">
                  <div class="panel-body">
                      <div id="simpleMap" style="height:250px;"></div>
                  </div>
              </div>
          </div>
      </li>
      <li class="clearfix">
          <time class="tl-time">
              <h3 class="text-danger">12:14</h3>
              <p>23th August 2013</p>
          </time>
          <i class="fa fa-comments-o bg-danger tl-icon text-white"></i>
          <div class="tl-content">
              <div class="panel panel-danger">
                  <div class="panel-body">
                      Ut a tellus non neque faucibus. <span class="label label-warning">Aenean sem lorem, rhoncus</span>
                  </div>
              </div>
          </div>
      </li>
      <li class="clearfix">
          <time class="tl-time">
              <h3 class="text-success">07:44</h3>
              <p>23th April 2013</p>
          </time>
          <i class="fa fa-comments-o bg-success tl-icon text-white"></i>
          <div class="tl-content">
              <div class="panel panel-success">
                  <div class="panel-heading">Events</div>
                  <div class="panel-body">
                      Etiam pretium at dolor id tincidunt. Vestibulum mi enim, aliquet quis dignissim quis, facilisis et nulla. Etiam nisl odio, pretium et vulputate at, volutpat id lectus.
                  </div>
              </div>
          </div>
      </li>
      <li class="clearfix">
          <time class="tl-time">
              <h3 class="text-purple">23:15</h3>
              <p>05th September 2013</p>
          </time>
          <i class="fa fa-comments-o bg-purple tl-icon text-white"></i>
          <div class="tl-content">
              <div class="panel panel-primary">
                  <div class="panel-heading">Events</div>
                  <div class="panel-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. Nam fermentum, massa sit amet pulvinar laoreet, sem mi viverra turpis, ac porta felis nisl eu odio.
                  </div>
              </div>
          </div>
      </li>
      <li class="clearfix">
          <time class="tl-time">
              <h3 class="text-success">07:44</h3>
              <p>23th April 2013</p>
          </time>
          <i class="fa fa-comments-o bg-success tl-icon text-white"></i>
          <div class="tl-content">
              <div class="panel panel-success">
                  <div class="panel-body">
                      Maecenas eget tempor diam. 
                  </div>
              </div>
          </div>
      </li>
      <li class="clearfix">
          <time class="tl-time">
              <h3 class="text-warning">12:14</h3>
              <p>23th August 2013</p>
          </time>
          <i class="fa fa-comments-o bg-warning tl-icon text-white"></i>
          <div class="tl-content">
              <div class="panel panel-warning">
                  <div class="panel-body">
                      Etiam pretium at dolor id tincidunt. <span class="label label-danger">Aliquam non mollis diam</span>
                  </div>
              </div>
          </div>
      </li>
  </ul>
  
</div>






<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
  ga('create', 'UA-56821827-1', 'auto');
  ga('send', 'pageview');
  
</script>
